/*    ==Параметры сценариев==

    Версия исходного сервера : SQL Server 2019 (15.0.2000)
    Выпуск исходного ядра СУБД : Выпуск Microsoft SQL Server Express Edition
    Тип исходного ядра СУБД : Изолированный SQL Server

    Версия целевого сервера : SQL Server 2019
    Выпуск целевого ядра СУБД : Выпуск Microsoft SQL Server Express Edition
    Тип целевого ядра СУБД : Изолированный SQL Server
*/
USE [PM01_520_Alyoshin]
GO
/****** Object:  Table [dbo].[City]    Script Date: 15.04.2024 16:22:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[City](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK_City] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Country]    Script Date: 15.04.2024 16:22:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Country](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[Eng_Name] [nvarchar](100) NOT NULL,
	[Code] [nchar](2) NOT NULL,
 CONSTRAINT [PK_Country] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Event]    Script Date: 15.04.2024 16:22:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Event](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](512) NOT NULL,
	[Date] [date] NOT NULL,
	[Days] [int] NOT NULL,
	[CityId] [int] NOT NULL,
 CONSTRAINT [PK_Event] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Gender]    Script Date: 15.04.2024 16:22:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Gender](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](10) NOT NULL,
 CONSTRAINT [PK_Gender] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Jures]    Script Date: 15.04.2024 16:22:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Jures](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[Surname] [nvarchar](50) NOT NULL,
	[Patronomic] [nvarchar](50) NOT NULL,
	[GenderId] [int] NOT NULL,
	[Mail] [nvarchar](100) NOT NULL,
	[Birthday] [date] NULL,
	[CountryId] [int] NOT NULL,
	[Phone] [nvarchar](20) NOT NULL,
	[Type] [nvarchar](50) NOT NULL,
	[Password] [nvarchar](50) NOT NULL,
	[Photo] [varchar](max) NOT NULL,
 CONSTRAINT [PK_Jures] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Moderators]    Script Date: 15.04.2024 16:22:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Moderators](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Surname] [nvarchar](50) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[Patronomic] [nvarchar](50) NOT NULL,
	[GenderId] [int] NOT NULL,
	[Mail] [nvarchar](100) NOT NULL,
	[Birthday] [date] NOT NULL,
	[CountryId] [int] NOT NULL,
	[Phone] [nvarchar](20) NOT NULL,
	[Type] [nvarchar](50) NOT NULL,
	[Event] [nvarchar](100) NOT NULL,
	[Password] [nvarchar](50) NOT NULL,
	[Photo] [varchar](max) NULL,
 CONSTRAINT [PK_Moderators] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Organizators]    Script Date: 15.04.2024 16:22:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Organizators](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Surname] [nvarchar](100) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[Patronomic] [nvarchar](100) NOT NULL,
	[Mail] [nvarchar](100) NOT NULL,
	[Birthday] [date] NULL,
	[CountryId] [int] NOT NULL,
	[Phone] [nvarchar](20) NOT NULL,
	[Password] [nvarchar](50) NOT NULL,
	[Photo] [varchar](max) NULL,
	[GenderId] [int] NOT NULL,
 CONSTRAINT [PK_Organizators] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Parcipiants]    Script Date: 15.04.2024 16:22:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Parcipiants](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Surname] [nvarchar](100) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[Patronomic] [nvarchar](100) NOT NULL,
	[Mail] [nvarchar](100) NOT NULL,
	[Birthday] [date] NULL,
	[CountryId] [int] NOT NULL,
	[Phone] [nvarchar](20) NOT NULL,
	[Password] [nvarchar](50) NOT NULL,
	[Photo] [varchar](max) NULL,
	[GenderId] [int] NOT NULL,
 CONSTRAINT [PK_Parcipiants] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[City] ON 

INSERT [dbo].[City] ([Id], [Name]) VALUES (1, N'Абаза')
INSERT [dbo].[City] ([Id], [Name]) VALUES (2, N'Абакан')
INSERT [dbo].[City] ([Id], [Name]) VALUES (3, N'Абдулино')
GO
SET IDENTITY_INSERT [dbo].[City] OFF
GO
SET IDENTITY_INSERT [dbo].[Country] ON 

INSERT [dbo].[Country] ([Id], [Name], [Eng_Name], [Code]) VALUES (1, N'Афганистан', N'Afghanistan', N'AF')
INSERT [dbo].[Country] ([Id], [Name], [Eng_Name], [Code]) VALUES (2, N'Албания', N'Albania', N'AL')
INSERT [dbo].[Country] ([Id], [Name], [Eng_Name], [Code]) VALUES (3, N'Антарктида', N'Antarctica', N'AQ')
GO
SET IDENTITY_INSERT [dbo].[Country] OFF
GO
SET IDENTITY_INSERT [dbo].[Event] ON 

INSERT [dbo].[Event] ([Id], [Name], [Date], [Days], [CityId]) VALUES (1, N'Всероссийский хакатон neuromedia 2017 по разработке продуктов на стыке информационных технологий, медиа и нейронных сетей ', CAST(N'2022-10-26' AS Date), 1, 34)
INSERT [dbo].[Event] ([Id], [Name], [Date], [Days], [CityId]) VALUES (2, N'Встреча #3 клуба ITBizRadio на тему:  «уборка» — выкидываем ненужные навыки, инструменты и ограничения» ', CAST(N'2022-07-14' AS Date), 3, 34)
INSERT [dbo].[Event] ([Id], [Name], [Date], [Days], [CityId]) VALUES (3, N'Встреча клуба «Leader stories»: Мотивирующее руководство ', CAST(N'2023-11-09' AS Date), 2, 2)
SET IDENTITY_INSERT [dbo].[Event] OFF
GO
SET IDENTITY_INSERT [dbo].[Gender] ON 

INSERT [dbo].[Gender] ([Id], [Name]) VALUES (1, N'Женщина')
INSERT [dbo].[Gender] ([Id], [Name]) VALUES (2, N'Мужчина')
SET IDENTITY_INSERT [dbo].[Gender] OFF
GO
SET IDENTITY_INSERT [dbo].[Jures] ON 

INSERT [dbo].[Jures] ([Id], [Name], [Surname], [Patronomic], [GenderId], [Mail], [Birthday], [CountryId], [Phone], [Type], [Password], [Photo]) VALUES (1, N'Галкина', N'Верона', N'Васильевна', 1, N'obuckridge@sipes.com', CAST(N'1969-05-18' AS Date), 35, N'7(880)544-61-83', N'Дизайн', N'HHikbP', N'foto21.jpg')
INSERT [dbo].[Jures] ([Id], [Name], [Surname], [Patronomic], [GenderId], [Mail], [Birthday], [CountryId], [Phone], [Type], [Password], [Photo]) VALUES (2, N'Герасимова', N'Айлин', N'Ефимовна', 1, N'loraine.aufderhar@johnston.info', CAST(N'1966-06-09' AS Date), 53, N'7(835)478-61-60', N'Дизайн', N'TuhRzy', N'foto22.jpg')
INSERT [dbo].[Jures] ([Id], [Name], [Surname], [Patronomic], [GenderId], [Mail], [Birthday], [CountryId], [Phone], [Type], [Password], [Photo]) VALUES (3, N'Большаков', N'Августин', N'Алексеевич', 2, N'juanita.kuvalis@yahoo.com', CAST(N'1978-07-12' AS Date), 52, N'7(173)770-55-13', N'ИТ', N'4Y83lz', N'foto23.jpg')
SET IDENTITY_INSERT [dbo].[Jures] OFF
GO
SET IDENTITY_INSERT [dbo].[Moderators] ON 

INSERT [dbo].[Moderators] ([Id], [Surname], [Name], [Patronomic], [GenderId], [Mail], [Birthday], [CountryId], [Phone], [Type], [Event], [Password], [Photo]) VALUES (1, N'Царева', N'Виктория', N'Давидовна', 1, N'iunhxq41tgr5@tutanota.com', CAST(N'1988-07-03' AS Date), 33, N'7(567)103-73-32', N'ИТ', N'IT в бизнесе', N'FYi396Dd5u', N'foto9.jpg')
INSERT [dbo].[Moderators] ([Id], [Surname], [Name], [Patronomic], [GenderId], [Mail], [Birthday], [CountryId], [Phone], [Type], [Event], [Password], [Photo]) VALUES (2, N'Зорин', N'Дмитрий', N'Маркович', 2, N'ofdt4z1bijq0@tutanota.com', CAST(N'1993-09-07' AS Date), 57, N'7(79)644-01-06', N'ИТ', N'IT в бизнесе', N'7gi7E8K4Ng', N'foto10.jpg')
INSERT [dbo].[Moderators] ([Id], [Surname], [Name], [Patronomic], [GenderId], [Mail], [Birthday], [CountryId], [Phone], [Type], [Event], [Password], [Photo]) VALUES (3, N'Зотова', N'Анна', N'Тимуровна', 1, N'ac6yxzg7rl5k@mail.com', CAST(N'1990-09-21' AS Date), 11, N'7(488)643-19-98', N'Биг Дата', N'Разработка приложений', N'3L3eA5eEg3', N'foto8.jpg')
SET IDENTITY_INSERT [dbo].[Moderators] OFF
GO
SET IDENTITY_INSERT [dbo].[Organizators] ON 

INSERT [dbo].[Organizators] ([Id], [Surname], [Name], [Patronomic], [Mail], [Birthday], [CountryId], [Phone], [Password], [Photo], [GenderId]) VALUES (1, N'Васильев
', N'Всеволод
', N'Давидович
', N'6z92wongmash@tutanota.com
', CAST(N'1988-10-16' AS Date), 51, N'7(354)903-53-67
', N'Ke22Yh8Pp7
', N'foto1.jpg
', 2)
INSERT [dbo].[Organizators] ([Id], [Surname], [Name], [Patronomic], [Mail], [Birthday], [CountryId], [Phone], [Password], [Photo], [GenderId]) VALUES (2, N'Новиков', N'Фёдор', N'Макарович', N'jkp23vlzsqei@gmail.com', CAST(N'1980-08-03' AS Date), 33, N'7(6562)925-01-77', N'Tj78jXeH68', N'foto2.jpg', 2)
INSERT [dbo].[Organizators] ([Id], [Surname], [Name], [Patronomic], [Mail], [Birthday], [CountryId], [Phone], [Password], [Photo], [GenderId]) VALUES (3, N'Фролова', N'Владислава', N'Савельевна', N'dncmxp1vqr4t@tutanota.com', CAST(N'1999-07-13' AS Date), 43, N'7(12)981-33-56', N'DF9a8cJf82', N'foto3.jpg', 1)
SET IDENTITY_INSERT [dbo].[Organizators] OFF
GO
SET IDENTITY_INSERT [dbo].[Parcipiants] ON 

INSERT [dbo].[Parcipiants] ([Id], [Surname], [Name], [Patronomic], [Mail], [Birthday], [CountryId], [Phone], [Password], [Photo], [GenderId]) VALUES (1, N'Ершова', N'Нора', N'Федотовна', N'techie@outlook.com', CAST(N'1987-03-26' AS Date), 71, N'+7 (960) 424-07-11', N'tKKevv8%', N'foto60.jpg', 1)
INSERT [dbo].[Parcipiants] ([Id], [Surname], [Name], [Patronomic], [Mail], [Birthday], [CountryId], [Phone], [Password], [Photo], [GenderId]) VALUES (2, N'Афанасьева', N'Жанна', N'Валентиновна', N'agapow@yahoo.com', CAST(N'1988-01-04' AS Date), 34, N'+7 (930) 661-69-31', N'huSfHm4$', N'foto61.jpg', 1)
INSERT [dbo].[Parcipiants] ([Id], [Surname], [Name], [Patronomic], [Mail], [Birthday], [CountryId], [Phone], [Password], [Photo], [GenderId]) VALUES (3, N'Крылова', N'Рая', N'Всеволодовна', N'chaikin@yahoo.ca', CAST(N'1988-04-05' AS Date), 73, N'+7 (957) 265-60-68', N'TlUwMw77%', N'foto62.jpg', 1)
SET IDENTITY_INSERT [dbo].[Parcipiants] OFF
GO
ALTER TABLE [dbo].[Event]  WITH CHECK ADD  CONSTRAINT [FK_Event_City1] FOREIGN KEY([CityId])
REFERENCES [dbo].[City] ([Id])
GO
ALTER TABLE [dbo].[Event] CHECK CONSTRAINT [FK_Event_City1]
GO
ALTER TABLE [dbo].[Jures]  WITH CHECK ADD  CONSTRAINT [FK_Jures_Country] FOREIGN KEY([CountryId])
REFERENCES [dbo].[Country] ([Id])
GO
ALTER TABLE [dbo].[Jures] CHECK CONSTRAINT [FK_Jures_Country]
GO
ALTER TABLE [dbo].[Jures]  WITH CHECK ADD  CONSTRAINT [FK_Jures_Gender] FOREIGN KEY([GenderId])
REFERENCES [dbo].[Gender] ([Id])
GO
ALTER TABLE [dbo].[Jures] CHECK CONSTRAINT [FK_Jures_Gender]
GO
ALTER TABLE [dbo].[Moderators]  WITH CHECK ADD  CONSTRAINT [FK_Moderators_Country] FOREIGN KEY([CountryId])
REFERENCES [dbo].[Country] ([Id])
GO
ALTER TABLE [dbo].[Moderators] CHECK CONSTRAINT [FK_Moderators_Country]
GO
ALTER TABLE [dbo].[Moderators]  WITH CHECK ADD  CONSTRAINT [FK_Moderators_Gender] FOREIGN KEY([GenderId])
REFERENCES [dbo].[Gender] ([Id])
GO
ALTER TABLE [dbo].[Moderators] CHECK CONSTRAINT [FK_Moderators_Gender]
GO
ALTER TABLE [dbo].[Organizators]  WITH CHECK ADD  CONSTRAINT [FK_Organizators_Country] FOREIGN KEY([CountryId])
REFERENCES [dbo].[Country] ([Id])
GO
ALTER TABLE [dbo].[Organizators] CHECK CONSTRAINT [FK_Organizators_Country]
GO
ALTER TABLE [dbo].[Organizators]  WITH CHECK ADD  CONSTRAINT [FK_Organizators_Gender] FOREIGN KEY([GenderId])
REFERENCES [dbo].[Gender] ([Id])
GO
ALTER TABLE [dbo].[Organizators] CHECK CONSTRAINT [FK_Organizators_Gender]
GO
ALTER TABLE [dbo].[Parcipiants]  WITH CHECK ADD  CONSTRAINT [FK_Parcipiants_Country] FOREIGN KEY([CountryId])
REFERENCES [dbo].[Country] ([Id])
GO
ALTER TABLE [dbo].[Parcipiants] CHECK CONSTRAINT [FK_Parcipiants_Country]
GO
ALTER TABLE [dbo].[Parcipiants]  WITH CHECK ADD  CONSTRAINT [FK_Parcipiants_Gender] FOREIGN KEY([GenderId])
REFERENCES [dbo].[Gender] ([Id])
GO
ALTER TABLE [dbo].[Parcipiants] CHECK CONSTRAINT [FK_Parcipiants_Gender]
GO
